.general-info {
    display: flex;
    justify-content: space-between;
}





.slider {
    margin-bottom: 30px;
}

.info-loc {
    color: #FF6060;
}

.info-loc h1 {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
}

.info-loc p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;

}

.info-host {
    align-items: center;
    display: flex;
}

.info-host p {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}

.info-host img {
    width: 70%;
    border-radius: 100px;
}

.tags-ratings {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 24px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.tag {
    list-style-type: none;
    margin-right: 10px;
    background: #FF6060;
    color: #FFFF;
    border-radius: 10px;
    width: 145px;
    height: 25px;
    border: none;
    font-family: Montserrat, sans-serif;
}

.collaps-container {
    display: flex;
}

.acco-desc {
    width: 50%;
    height: 100%;
    margin-right: 80px;
}

.acco-desc p {
    font-weight: 400;
    font-size: 18px;
}

.acco-equipments {
    width: 50%;
    height: 100%;

}

.acco-equipments ul {
    padding: 0;
}


.acco-equipments li {
    list-style-type: none;
    font-weight: 400;
    color: #FF6060;
    line-height: 25.67px;
}


@media (max-width:769px) {

    .all-info {
        position: relative;
    }

    .info-loc h1 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .info-loc p {
        font-size: 14px;
    }

    .info-host {
        position: absolute;
        right: 0px;
        top: 110px;
        display: flex;
        justify-content: flex-end;
    }

    .tags-ratings {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .tags {
        margin-bottom: 35px;
    }

    .info-host img {
        width: 30%;
    }

    .info-host p {
        font-size: 12px;
    }

    .acco-desc {
        width: 100%;
        margin: 0;
    }

    .collaps-container {
        flex-direction: column;
        align-items: center;
    }

    .acco-equipments {
        width: 100%;
        margin: 0;
    }

}

@media (max-width:565px) {

    .tag {
        margin-right: 5px;
        width: 30%;
        height: 25px;
        margin-bottom: 5px;

        font-size: 10px;
    }

    .stars {
        width: 13px;
        height: 13px;
    }

    #StarsEmpty {
        width: 13px;
        height: 13px;
    }

    .info-host img {
        width: 32px;
        height: 32px;
    }


}