body {
    box-sizing: border-box;
    margin: 0 auto;
    background: "../assets/img/A.png";
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}