.stars {
    margin-right: 15px;
}


#StarsEmpty {
    width: 25px;
    height: 24px;
}

@media (max-width:565px) {

    #StarsEmpty {
        width: 13px;
        height: 13px;
    }

    .stars {
        margin-right: 5px;
    }

}